@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Scada:wght@400;700&display=swap');

.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}