.reservationWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 100vh;
}

.reservationInput {
    width: 30%;
    color: black;
    border: 1px solid black;
}

.reservationWrapper--when {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.availableReservation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.availableReservation div {
    width: 100%;
    padding: 5%;
    height: auto;
}

.activeReservation {
    background-color: rgb(156, 156, 156);
}

.bookBtn {
    padding: 2%;
    width: 50%;
    height: 20%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 31, 31);
    color: white;
    border: none;
    cursor: pointer;
}