.menuWrapper {
    font-family: 'Scada', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.menuWrapper > ul {
    display: none;
}

#hamburger {
    width: 8%;
    height: auto;
    margin: 0 1%;
}

.logoWrapper {
    width: 15vw;
}   

.logoWrapper img {
    width: 100%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
}

@media screen and (min-width: 769px) {
    
    .logoWrapper img {
        width: 100%;
        height: auto;
    }

    #hamburger { 
        display: none;
    }

    #headerTitle {
        position: relative;
        left: 2.5%;
    }

    .menuWrapper > ul {
        position: relative;
        right: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .menuWrapper > ul > a {
        text-decoration: none;
        margin: 0 2vw;
        color: black;
        font-size: 1.45em;
    }

    #donateBtn {
        position: relative;
        right: 10%;
        width: 10vw;
        font-size: 1vw;
    }

    #donateBtn:hover::after {
        transform: translate(5%,9%);
        width: 98%;
    }

    #donateBtn::after {
        bottom: 9%;
        right: 5%;
        content: '';
        position: absolute;
        width: 95%;
        height: 90%;
        border: 2px solid black;
        border-radius: 20px;

        transition: all 0.2s ease-in-out;
    }
}